body{
    margin-bottom: 20px;
}
.trend-post img{
    width: 40%;
    height: 30%;
    border-radius: 20px;
    margin-right: 20px;
}

.trend-dat h2{
font-size: 30px;
font-weight: 700;
}
.trend-dat p{
    font-size: 20px;
}
.creator-trend{
    margin-top: 30px;
    font-size: 13px;
    width: max-content;
}
.creator-trend h1{
    font-weight: 600;
}
.creator-trend p{
    font-size: 13px;
}
.creator-trend img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.prompt_card{
    max-width: 80% !important;
    overflow: hidden;
    width: auto !important;
}
.prompt_card h1:hover{
    cursor: pointer;
}


.post-con img{
    max-height: 400px !important;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.25s ease-in-out;
}
.post-con img:hover{
    scale: 1.01;
}
.post-head h2{
    font-size: 35px;
    margin: 20px 0;
    font-weight: 700;
}
.post-head img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.likes button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: white;
    transition: font-size 0.15s ease-in-out;
    margin: 10px;
    overflow: hidden;
}

.likes button:hover{
    font-size: 22px;
}
.like{
    background-color: rgb(3, 187, 3);
}
.like:active{
    background-color: green;
}
.dislike{
    background-color: red;
}
.dislike:active{
    background-color: rgb(192, 2, 2);
}

.comment-con{
    align-items: center;
}

.comment-con img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment-input{
    width: 70%;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    background-color: transparent;
    outline: none;
    margin-right: 10px;
}
.all-comments button{
    background-color: rgb(39, 137, 249) !important;
    color: white;
    padding: 5px 8px;
    border-radius: 10px;
}

.post-img{
    width: 300px !important;
    height: 200px !important;
    border-radius: 10px;
}

.blogcard{
    max-height: max-content;
    overflow: hidden;
    margin-bottom: 30px;
}
.blogcard img{
    width: 100%;
    border-radius: 20px;
    height: max-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: scale 0.2s ease-in-out;
    max-height: 250px;
    object-fit: cover;
}
.blogcard img:hover{
    scale: 1.015;
}
.blogdiv{
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
}
.blogcard div h2{
    font-weight: 600;
    font-size: 20px;
}

.blogdiv hr{
    background-color: black;
}

.blogdiv p{
    max-height: 100%;
    overflow-y: scroll;
    margin-top:10px ;
}

.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
    margin-top: 30%;
  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: #fff;
    box-shadow: 30px 0 0 #00ccff;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: #00ccff;
    box-shadow: 30px 0 0 #fff;
  }

  @keyframes rotate {
    0% { transform: rotate(0deg) scale(0.8) }
    50% { transform: rotate(360deg) scale(1.2) }
    100% { transform: rotate(720deg) scale(0.8) }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #00ccff;
    }
    50% {
      box-shadow: 0 0 0 #00ccff;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #00ccff;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #fff;
    }
    50% {
      box-shadow: 0 0 0 #fff;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #fff;
      margin-top: 0;
    }
  }
  

@media screen and (max-width:600px) {
    .trend-post{
        flex-wrap: wrap;
    }
    .trend-dat h2{
        font-size: 15px;
    }
    .trend-dat p{
        font-size: 12px;
    }
    .trend-post img{
        width: 100%;
    }  
    .blogdiv{
        width: 100%;
        margin-left: 0px;
        margin-top: 20px !important;
    }  
    .blogcard{
        flex-direction: column;
        max-height: max-content;
        margin-bottom: 30px;
    }
    .blogcard div h2{
        font-size: 15px;
    }
    .blogdiv p{
        font-size: 12px;
    }
    .blogcard div{
        width: 100% !important;
    }
    .blogcard div img{
        width: 90%;
        margin-bottom: 20px;
    }
    .creator-blog h3{
        font-size: 12px;
    }
    .creator-blog p{
        font-size: 10px;
    }
    .creator-blog img{
        width: 30px !important;
        margin-bottom: 0 !important; 
    }
}
@media screen and (max-width:800px) {
    .trend_srch{
        display: none;
    }
    .desc-post{
        width: 100% !important;
    }
}
@media screen and (max-width:1000px) and  (min-width:600px){
    .trend-dat h2{
        font-size: 20px;
    }
    .trend-dat p{
        font-size: 15px;
    }
}