@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.channel-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}
*:not(i) {
    font-family: Poppins, sans-serif !important;
}

.ch-banner{
    width: 100%;
    border-radius: 20px 20px 0 0;
    max-height: 300px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}
.ch-banner img{
    width: 100%;
    height: 33vh;;
    transition: all 0.25s ease-in-out;
    object-fit: cover;
}
.ch-banner .img-div{
    width: 100%;
    height: 33vh;
    transition: all 0.25s ease-in-out;
background-color: grey;
    object-fit: cover;
}

.mock {
    background-color: grey;
    animation: mockanime 1s infinite;
}

@keyframes mockanime {
    0% {
        background-color: grey;
    }
    50% {
        background-color: rgb(183, 181, 181);
    }
    100% {
        background-color: grey;
    }
}


.ch-banner label{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    font-size: 25px;
    z-index: 997;
    color: rgb(216, 212, 212);
}
.ch-banner label:hover{
    cursor: pointer;
}
.ch-banner img:hover{
    scale: 1.01;
}
.loading{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.475);
    z-index: 998;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ch-strip{
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.ch-strip img{
    border-radius: 50%;
    width: 60px;
}
.mock-user{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: grey;
}

.ch-strip h3{
    font-size: 25px;
    font-weight: 700;
    margin: 10px;
}
.h3-mock{
    background-color: grey;
    width: 150px;
    height: 15px;
    border-radius: 5px;
}

.ch-posts{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.loader2 {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #006aff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin-top: 30vh;
  }

  .youtube-navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: left;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .navbar-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 50%;
    padding: 0;
  }
  
  .navbar-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color: #000000 ;
    padding: 8px 16px;
    transition: color 0.3s ease;
    background-color: white ;
  }
  
  .navbar-item i {
    margin-right: 8px;
    font-size: 15px;
  }
  
  .navbar-item:hover {
    color: #383838;
  }

  .prof-blog-card{
    width: 100%;
    height: 150px;
    overflow-y: hidden;
    display: flex;
    margin-top: 20px;
    text-align: justify;
}
  .prof-blog-card img{
    width: 230px !important;
    /* height: 130px; */
    object-fit: cover;
    margin-right: 30px;
    border-radius: 10px;
}
.blog-title{
font-weight: 600;
}
.blog-excerpt{
    max-width: 80%;
}
.prof-blogs{
    padding: 20px;
}
.prof-active{
    background-color: #000000 !important;
    color: white !important;
    border-radius: 10px;
}
/* WebKit-based browsers */
.blog-excerpt::-webkit-scrollbar {
    width: 3px !important; /* Thinner scrollbar */
}

.blog-excerpt::-webkit-scrollbar-thumb {
    background-color: #888; /* Scrollbar thumb color */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.blog-excerpt::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker color on hover */
}
.blog-excerpt p> * {
    font-weight: 400 !important;
}

  
  @media (max-width: 768px) {
    .navbar-list {
      width: 80%;
    }
  
    .navbar-item {
      font-size: 14px;
    }
    .blog-excerpt{
        max-width: 100%;
    }
  }
  
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

@media screen and (max-width:500px) {
    .ch-strip{
        font-size: 10px !important;
    }
    .outline_btn{
        scale: 0.6;
    }
    .ch-strip img{
        width: 40px;
        height: 40px;
    }
    .ch-strip{
        padding: 10px;
    }
    .ch-strip div{
        max-width: 70%;
    }
    .ch-strip h3{
        font-size: 13px !important;
    }
    .ch-banner img{
        width: 100%;
        height: 150px;;
    }
    .ch-banner .img-div{
        width: 100%;
        height: 150px;

    }
    .channel-div{
        width: 100vw;
        overflow-x: hidden;
    }
    .ch-strip .mock-user{
        width: 30px;
        height: 30px;
    }
    .prof-blog-card{
        height: 90px;
    }
    .prof-blog-card img{
        width: 130px !important;
        margin-right: 10px !important;
    }
    .blog-title{
        font-size: 11px !important;
        font-weight: 600;
    }
    .blog-excerpt{
        font-size: 10px;
        overflow-y: scroll;
        max-height: 100px;
    }
    
    .prof-blogs{
        padding: 0;
    }
    .navbar-item {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 14px;
        color: #000000 ;
        padding: 8px 16px;
        transition: color 0.3s ease;
        background-color: white ;
      }
      
      .navbar-item i {
        margin-right: 8px;
        font-size: 13px;
      }
}
